#jumbo{
    background-color: black;
}
#photo {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
    /* margin-left: 15%; */
}
@media screen and (max-width: 991px){
    #photo {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    /* margin-left: 15%; */
    }
}

#welcome {
    font-size: 24px;
    font-family: 'Titillium Web';
    text-align: center;
    color: whitesmoke;
    --animate-duration: 1s;
}
@media screen and (max-width: 991px){
    #welcome {
        font-size: 18px;
        font-family: 'Titillium Web';
        text-align: center;
        color: whitesmoke;
        display: block;
        --animate-duration: 1s;
    }
}
#para1 {
    font-size: medium;
    font-family: 'Raleway';
    margin-left: 25%;
    margin-right: 25%;
    color: whitesmoke;
    --animate-duration: 3s;
}
@media screen and (max-width: 991px){
    #para1 {
        font-size: medium;
        font-family: 'Raleway';
        margin-left: 15%;
        margin-right: 15%;
        color: whitesmoke;
        --animate-duration: 3s;
    }
}